---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/conversations.history
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Accepted-Oauth-Scopes:
      - conversations:history
      X-Slack-Req-Id:
      - dddacca454c7dfc31d5cc183d3506b8e
      X-Slack-Backend:
      - r
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-bqpd,haproxy-edge-pdx-sqqp
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"not_authed"}'
  recorded_at: Thu, 08 Oct 2020 19:48:46 GMT
- request:
    method: get
    uri: https://slack.com/api/conversations.history?channel=C01BKRLQ4UF&token=SLACK_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - e567e79163e0b091b14b587d1f32ad45
      X-Oauth-Scopes:
      - users:read,chat:write,channels:read,channels:history,im:history,im:read
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - channels:history,groups:history,mpim:history,im:history,read
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-xhax,haproxy-edge-pdx-8rbg
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"messages":[{"bot_id":"B01CQDPVC48","type":"message","text":"test
        message to SlackBot","user":"U01C0JB1FB4","ts":"1602183916.001400","team":"T01BKRLPT7Z","bot_profile":{"id":"B01CQDPVC48","deleted":false,"name":"Water
        - Christabel - Slack CLI","updated":1601943921,"app_id":"A01C0J7RNGJ","icons":{"image_36":"https:\/\/a.slack-edge.com\/80588\/img\/plugins\/app\/bot_36.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/plugins\/app\/bot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/plugins\/app\/service_72.png"},"team_id":"T01BKRLPT7Z"}},{"bot_id":"B01CQDPVC48","type":"message","text":"Testing","user":"U01C0JB1FB4","ts":"1602182784.001300","team":"T01BKRLPT7Z","bot_profile":{"id":"B01CQDPVC48","deleted":false,"name":"Water
        - Christabel - Slack CLI","updated":1601943921,"app_id":"A01C0J7RNGJ","icons":{"image_36":"https:\/\/a.slack-edge.com\/80588\/img\/plugins\/app\/bot_36.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/plugins\/app\/bot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/[...]
- request:
    method: get
    uri: https://slack.com/api/conversations.replies?channel=C01BKRLQ4UF&token=SLACK_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 68afdcc1719573622d99ff92a9abe5fe
      X-Oauth-Scopes:
      - identify,channels:history
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - channels:history,groups:history,mpim:history,im:history,read
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-d7ap,haproxy-edge-pdx-snuh
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"thread_not_found"}'
  recorded_at: Thu, 08 Oct 2020 20:34:36 GMT
recorded_with: VCR 6.0.0
