---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - ddc4d7fbcbf0cc01d5e506cb586067cd
      X-Oauth-Scopes:
      - chat:write,channels:read,users:read
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-zxri,haproxy-edge-pdx-74gg
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"C01BKRLQ4UF","name":"random","is_channel":true,"is_group":false,"is_im":false,"created":1601943301,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"random","is_shared":false,"parent_conversation":null,"creator":"U01BXFBQ18D","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T01BKRLPT7Z"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"This
        channel is for... well, everything else. It\u2019s a place for team jokes,
        spur-of-the-moment ideas, and funny GIFs. Go wild!","creator":"U01BXFBQ18D","last_set":1601943301},"previous_names":[],"num_members":3},{"id":"C01BXFENUR3","name":"slackcli","is_channel":true,"is_group":false,"is_im":false,"created":1601943445,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"slackcli","is_shared":false,"parent_conversation":null,"creator":"U01BXFBQ18D","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T01BKRLPT7Z"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"topic":{"value":"","creat[...]
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=unauthed%20test%20token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 199aad22c97ec70e85dba73240486a9d
      X-Slack-Backend:
      - r
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-u1v1,haproxy-edge-pdx-mprq
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"invalid_auth"}'
  recorded_at: Thu, 08 Oct 2020 02:05:37 GMT
recorded_with: VCR 6.0.0
